<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" autoReload="true">
  <variable name="ApplicationName" value="sample app name" />
  <targets>
    <!--<target name="mail"
				xsi:type="BufferingWrapper"
				bufferSize="1">
			-->
    <!--Your mail server configuration-->
    <!--
			<target xsi:type="Mail"
					smtpServer="127.0.0.1"
					from="someone@somewhere.com"
					to="someone@somewhereelse.com"
					subject="${ApplicationName} Logged Event"/>
		</target>-->
    <target name="database" xsi:type="Database" dbProvider="sqlserver" connectionString="server=.;uid=AppLogs;pwd=AppLogs*1;database=AppLogs">
      <commandText>
				exec NewLogEntry
				@ApplicationName,
				@ApplicationTime,
				@Severity,
				@Logger,
				@UserID,
				@EventID,
				@Message,
				@URL,
				@URLReferrer,
				@RemoteAddress,
				@Callsite,
				@ThreadIdentity,
				@WindowsIdentity,
				@MachineName,
				@ProcessID,
				@ThreadID,
				@ThreadName,
				@Stacktrace,
				@Exception,
				@Cookie,
				@QueryString,
				@HTTPUserAgent
			</commandText>
      <parameter name="@ApplicationName" layout="${ApplicationName}" />
      <parameter name="@ApplicationTime" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@Severity" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@UserID" layout="${aspnet-user-identity}" />
      <parameter name="@EventID" layout="${event-context:EventID}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@URL" layout="${aspnet-request:item=URL}" />
      <parameter name="@URLReferrer" layout="${aspnet-request:item=HTTP_REFERRER}" />
      <parameter name="@RemoteAddress" layout="${aspnet-request:item=REMOTE_ADDR}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@ThreadIdentity" layout="${identity}" />
      <parameter name="@WindowsIdentity" layout="${windows-identity}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@ProcessID" layout="${processid}" />
      <parameter name="@ThreadID" layout="${threadid}" />
      <parameter name="@ThreadName" layout="${threadname}" />
      <parameter name="@Stacktrace" layout="${stacktrace:format=Raw}" />
      <parameter name="@Exception" layout="${exception:format=ToString}" />
      <parameter name="@Cookie" layout="${aspnet-request:item=HTTP_COOKIE}" />
      <parameter name="@QueryString" layout="${aspnet-request:item=QUERY_STRING}" />
      <parameter name="@HTTPUserAgent" layout="${aspnet-request:item=HTTP_USER_AGENT}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="database" />
    <logger name="*" minlevel="Debug" writeTo="mail" />
  </rules>
</nlog>